<div class="form">
  <form action="/add-genre" method="POST">
    <label for="genre">Genre</label>
    <input type="text" id="genre" name="genre" required autocomplete="off" />
    <button type="submit">Add</button>
  </form>
</div>
