<div class="form">
  <form action="/add-dev" method="POST">
    <label for="dev">Dev</label>
    <input type="text" id="dev" name="dev" required autocomplete="off" />
    <button type="submit">Add</button>
  </form>
</div>
